{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
	<div class="container">
		<div class="row">
			<div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Pricing Table</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Pricing Table	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
<ul>
    Parolanız başarıyla değiştirildi.
</ul>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}