{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Password Change Done</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Password Change Done</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <!-- Left sidebar -->

    <!-- MAIN CONTENT -->
    <div class="span12">

        <div id="post-3761" class="post-3761 page type-page status-publish hentry instock">

            <div class="main-row wpb_row vc_row-fluid     padding-top-0    ">


                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">
                        <div class="empty-space"></div>
                        <div class="wpb_row vc_row-fluid">
                            <div class="vc_span12 wpb_column column_container">
                                <div class="wpb_wrapper">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="testimonial">
                                                <h3><i class="fa fa-quote-left "></i>&nbsp;
                                                    Congratulations</h3>

                                                <p>Your password was changed successfully</p>

                                                <p>– Kassandra Team</p>

                                                <div class="testimonial-arrow"></div>
                                            </div>
                                            <p><input type="submit" value="Back Home"
                                                      class="wpcf7-form-control wpcf7-submit">
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="empty-space"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Right sidebar -->
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}