.container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 30px;
  width: 1170px;
}
.span12 {
  width: 1170px;
}
.span11 {
  width: 1070px;
}
.span10 {
  width: 970px;
}
.span9 {
  width: 870px;
}
.span8 {
  width: 770px;
}
.span7 {
  width: 670px;
}
.span6 {
  width: 570px;
}
.span5 {
  width: 470px;
}
.span4 {
  width: 370px;
}
.span3 {
  width: 270px;
}
.span2 {
  width: 170px;
}
.span1 {
  width: 70px;
}
.offset12 {
  margin-left: 1230px;
}
.offset11 {
  margin-left: 1130px;
}
.offset10 {
  margin-left: 1030px;
}
.offset9 {
  margin-left: 930px;
}
.offset8 {
  margin-left: 830px;
}
.offset7 {
  margin-left: 730px;
}
.offset6 {
  margin-left: 630px;
}
.offset5 {
  margin-left: 530px;
}
.offset4 {
  margin-left: 430px;
}
.offset3 {
  margin-left: 330px;
}
.offset2 {
  margin-left: 230px;
}
.offset1 {
  margin-left: 130px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5213675213675213%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.564102564102564%;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.95726495726495%;
}
.row-fluid .span11 {
  width: 91.45299145299145%;
  *width: 91.41025641025641%;
}
.row-fluid .span10 {
  width: 82.90598290598291%;
  *width: 82.86324786324786%;
}
.row-fluid .span9 {
  width: 74.35897435897436%;
  *width: 74.31623931623932%;
}
.row-fluid .span8 {
  width: 65.81196581196582%;
  *width: 65.76923076923077%;
}
.row-fluid .span7 {
  width: 57.26495726495726%;
  *width: 57.222222222222214%;
}
.row-fluid .span6 {
  width: 48.717948717948715%;
  *width: 48.67521367521367%;
}
.row-fluid .span5 {
  width: 40.17094017094017%;
  *width: 40.128205128205124%;
}
.row-fluid .span4 {
  width: 31.623931623931625%;
  *width: 31.581196581196583%;
}
.row-fluid .span3 {
  width: 23.076923076923077%;
  *width: 23.034188034188034%;
}
.row-fluid .span2 {
  width: 14.52991452991453%;
  *width: 14.487179487179487%;
}
.row-fluid .span1 {
  width: 5.982905982905983%;
  *width: 5.94017094017094%;
}
.row-fluid .offset12 {
  margin-left: 105.12820512820512%;
  *margin-left: 105.04273504273503%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.56410256410257%;
  *margin-left: 102.47863247863248%;
}
.row-fluid .offset11 {
  margin-left: 96.58119658119658%;
  *margin-left: 96.49572649572649%;
}
.row-fluid .offset11:first-child {
  margin-left: 94.01709401709402%;
  *margin-left: 93.93162393162393%;
}
.row-fluid .offset10 {
  margin-left: 88.03418803418803%;
  *margin-left: 87.94871794871794%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.47008547008548%;
  *margin-left: 85.38461538461539%;
}
.row-fluid .offset9 {
  margin-left: 79.48717948717949%;
  *margin-left: 79.4017094017094%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.92307692307693%;
  *margin-left: 76.83760683760684%;
}
.row-fluid .offset8 {
  margin-left: 70.94017094017094%;
  *margin-left: 70.85470085470085%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.37606837606839%;
  *margin-left: 68.2905982905983%;
}
.row-fluid .offset7 {
  margin-left: 62.393162393162385%;
  *margin-left: 62.30769230769229%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.82905982905982%;
  *margin-left: 59.74358974358973%;
}
.row-fluid .offset6 {
  margin-left: 53.84615384615384%;
  *margin-left: 53.76068376068375%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.28205128205128%;
  *margin-left: 51.196581196581185%;
}
.row-fluid .offset5 {
  margin-left: 45.299145299145295%;
  *margin-left: 45.2136752136752%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.73504273504273%;
  *margin-left: 42.64957264957264%;
}
.row-fluid .offset4 {
  margin-left: 36.75213675213675%;
  *margin-left: 36.666666666666664%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.18803418803419%;
  *margin-left: 34.1025641025641%;
}
.row-fluid .offset3 {
  margin-left: 28.205128205128204%;
  *margin-left: 28.11965811965812%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.641025641025642%;
  *margin-left: 25.555555555555554%;
}
.row-fluid .offset2 {
  margin-left: 19.65811965811966%;
  *margin-left: 19.57264957264957%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.094017094017094%;
  *margin-left: 17.00854700854701%;
}
.row-fluid .offset1 {
  margin-left: 11.11111111111111%;
  *margin-left: 11.025641025641026%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.547008547008547%;
  *margin-left: 8.461538461538462%;
}


.mega-menu .sub-menu {
	width: 1170px !important;
}
.mega-menu > .sub-menu > li, .mega-menu .sub-menu li > .sub-menu, .mega-menu .sub-menu li > .sub-menu li {
	width: 292.5px !important;
}
.mega-menu-2col .sub-menu {
	width: 440px !important;
}
.mega-menu-2col > .sub-menu > li {
	width: 220px !important;
}
.mega-menu-2col .sub-menu li > .sub-menu {
	width: 220px !important;
}
.mega-menu-2col .sub-menu li > .sub-menu li {
	width: 220px !important;
}

.feature-right {
	width: 265px;
}
.isotope > .wpb_column {
	width: 330px !important;
}