{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block body_block %}
    {% if not request.user.username %}
        <a href="/accounts/login" class="button">Login</a><br/>
        <a href="/member/new_member" class="button">Sign Up</a>
    {% else %}
        <a href="/member/member_profile" class="button">Member Profile</a><br/>
        <a href="/accounts/password_change" class="button">Edit Profile</a><br/>
        <a href="/accounts/logout" class="button">Logout</a>
    {% endif %}
{% endblock %}

{% block quote_section_block %}
    	<!-- BEGIN FOOTER CALLOUT SECTION
	================================================== -->
	<div class="quote-section">
			<div class="container">
				<div class="row-fluid">
					<div class="span8 offset2">
						<span>Be a premium member to take advantage of the privilege. </span>
						<a style="" href="/" class="button">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block sub_footer_block %}
    	<!-- BEGIN WIDGET FOOTER
	================================================== -->
	<div class="sub-footer">
		<div class="container">
			<div class="row">
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="text-2" class="widget widget_text">
                                <h2 class="widgettitle">About Us</h2>
                                <div class="textwidget">
                                    <p><img src="../static/uploads/2014/01/white_icon2.png" alt=""/></p>
                                    <p>We are an award winning agency that specializes in developing super awesome things.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="recent-posts-3" class="widget widget_recent_entries">
                                <h2 class="widgettitle">Recent Posts</h2>
                                <ul>
                                    <li>
                                        <a href="../hello-world/index.html">We love to write things</a>
                                    </li>
                                    <li>
                                        <a href="../awesome-quote-2/index.html">This is a super awesome quote</a>
                                    </li>
					                <li>
				                       <a href="../standard-post/index.html">This is yet another blog post</a>
						            </li>
					                <li>
				                        <a href="../awesome-link/index.html">Awesome Link</a>
						            </li>
				                </ul>
		                    </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="twitter-widget-3" class="widget twitter">
                                <h2 class="widgettitle">Latest Tweets</h2>
                                <div class="tweet">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="tag_cloud-3" class="widget widget_tag_cloud">
                                <h2 class="widgettitle">Tags</h2>
                                <div class="tagcloud">
                                    <a href='../tag/amazing/index.html' class='tag-link-13' title='1 topic' style='font-size: 8pt;'>Amazing</a>
                                    <a href='../tag/awesome/index.html' class='tag-link-20' title='1 topic' style='font-size: 8pt;'>Awesome</a>
                                    <a href='../tag/blog/index.html' class='tag-link-16' title='1 topic' style='font-size: 8pt;'>Blog</a>
                                    <a href='../tag/css/index.html' class='tag-link-12' title='1 topic' style='font-size: 8pt;'>CSS</a>
                                    <a href='../tag/envato/index.html' class='tag-link-19' title='1 topic' style='font-size: 8pt;'>Envato</a>
                                    <a href='../tag/html/index.html' class='tag-link-11' title='1 topic' style='font-size: 8pt;'>HTML</a>
                                    <a href='../tag/multipurpose/index.html' class='tag-link-14' title='1 topic' style='font-size: 8pt;'>MultiPurpose</a>
                                    <a href='../tag/news/index.html' class='tag-link-23' title='1 topic' style='font-size: 8pt;'>News</a>
                                    <a href='../tag/pagebuilder/index.html' class='tag-link-17' title='1 topic' style='font-size: 8pt;'>PageBuilder</a>
                                    <a href='../tag/portfolio/index.html' class='tag-link-15' title='1 topic' style='font-size: 8pt;'>Portfolio</a>
                                    <a href='../tag/press/index.html' class='tag-link-24' title='1 topic' style='font-size: 8pt;'>Press</a>
                                    <a href='../tag/themeforest/index.html' class='tag-link-18' title='1 topic' style='font-size: 8pt;'>ThemeForest</a>
                                    <a href='../tag/videos/index.html' class='tag-link-22' title='1 topic' style='font-size: 8pt;'>Videos</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}

{% block script_block %} {% endblock %}