{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
    <div class="layer-slider">
        <div class="ls-wp-fullwidth-container" style="height: 550px;">
            <div class="ls-wp-fullwidth-helper" style="height: 550px; width: 1298px; left: 0px;">
                <div id="layerslider_1" class="ls-wp-container ls-container ls-fullwidth"
                     style="width: 1298px; height: 550px; margin: 0px auto; visibility: visible;">
                    <div class="ls-inner" style="width: 1298px; height: 550px; background-color: rgb(34, 34, 34);">
                        <div class="ls-slide ls-active" data-ls="slidedelay:5000;transition2d:5;"
                             style="width: 1298px; height: 550px; left: auto; right: 0px; top: 0px; bottom: auto; visibility: visible; display: none;">
                            <img src="{% static 'space.jpg' %}"
                                 class="ls-bg ls-preloaded" alt="Slide background"
                                 style="padding: 0px; border-width: 0px; width: 1920px; height: 700px; margin-left: -311px; margin-top: -75px; visibility: visible;">

                            <div class="ls-gpuhack"
                                 style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 64px; top: 0px;"></div>
                            <h3 class="ls-l"
                                style="top: 233px; left: 462px; text-shadow: rgb(140, 48, 93) 1px 1px; text-align: center; padding: 16px 0px; font-size: 18px; line-height: 26px; color: rgb(255, 255, 255); white-space: nowrap; font-weight: 300 !important; filter: none; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                                data-ls="offsetxin:0;offsetyin:50;durationin:500;delayin:300;easingin:easeInOutCubic;offsetxout:0;durationout:100;easingout:easeInOutCubic;">
                                Kassandra is a guess platform,<br>for future and more...
                            </h3>

                            <h1 class="ls-l"
                                style="top: 190px; left: 432.5px; text-shadow: rgb(140, 48, 93) 1px 1px; font-size: 46px; color: rgb(255, 255, 255); white-space: nowrap; filter: none; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                                data-ls="offsetxin:0;offsetyin:50;durationin:500;easingin:easeInOutCubic;offsetxout:0;durationout:100;easingout:easeInOutCubic;">
                                Future are <strong>OUR DESIGN</strong>.</h1>


                    </div>
                    <div class="ls-shadow"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <!-- Left sidebar -->

    <!-- MAIN CONTENT -->
    <div class="span12">

    <div id="post-2811" class="post-2811 page type-page status-publish hentry instock">

    <div class="main-row wpb_row vc_row-fluid row-large">
        <div class="vc_span4 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <h1 style="text-align: center;"><i class="fa fa-bolt "
                                                           style="font-size: 36px; color: #51BAB6"></i></h1>

                        <h3 style="text-align: center;">Quickly Guess</h3>

                        <p style="text-align: center;">Our guesses will be 10 minutes!</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="vc_span4 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <h1 style="text-align: center;"><i class="fa fa-heart-o "
                                                           style="font-size: 36px; color: #51BAB6"></i></h1>

                        <h3 style="text-align: center;">We Love Future</h3>

                        <p style="text-align: center;">Our guesses are come to future under your fingers!.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="vc_span4 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <h1 style="text-align: center;"><i class="fa fa-mobile "
                                                           style="font-size: 36px; color: #51BAB6"></i></h1>

                        <h3 style="text-align: center;">Mobile Ready</h3>

                        <p style="text-align: center;">We are everywhere!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-row wpb_row vc_row-fluid  full-width      row-large">
        <div class="vc_span6 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation">
                    <div class="wpb_wrapper">
                        <h2 style="text-align: left;">What is Kassandra?</h2>

                        <p style="text-align: left;">Kassandra is a guess platform. We are make guess some events and then we shows you!
                        This is a scientific project. Come and join us, support us, for future.</p>

                        <p style="text-align: left;">If you have questions;</p>

                        <p style="text-align: left;"><a href="/terms" class="button ">Our Terms</a>&nbsp;&nbsp; <a href="/pricing_table/"
                                                                                                              style="background: #50575E !important;"
                                                                                                              class="button ">Purchase a Package</a></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="vc_span6 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_single_image wpb_content_element wpb_animate_when_almost_visible wpb_right-to-left vc_align_left wpb_start_animation">
                    <div class="wpb_wrapper">

                        <img width="200" height="100"
                             src="{% static 'kas.jpg' %}"
                             class="attachment-full" alt="device8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-row wpb_row vc_row-fluid        row-large">
        <div class="vc_span12 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="wpb_row vc_row-fluid">
                    <div class="vc_span6 wpb_column column_container">
                        <div class="wpb_wrapper">

                            <div class="wpb_single_image wpb_content_element wpb_animate_when_almost_visible wpb_left-to-right vc_align_left wpb_start_animation">
                                <div class="wpb_wrapper">

                                    <img width="477" height="261"
                                         src="{% static 'img/logo.png' %}"
                                         class="attachment-full" alt="device8_flipped">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_span6 wpb_column column_container">
                        <div class="wpb_wrapper">

                            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2 style="text-align: left;">Options for you</h2>

                                    <p style="text-align: left;">We are work on many projects. Bitcoin, Amercan Football and more...
                                    But we need time. Please donate us!</p>

                                    <p style="text-align: left;"><a href="/pricing_table" class="round-button "><i
                                            class="fa fa-bars"></i>&nbsp;
                                        learn more</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-row wpb_row vc_row-fluid  full-width      row-large">
        <div class="vc_span3 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="vc-counter ">
                    <span class="vc-counter-prepend"></span>
                    <span class="vc-counter-number" counter-number="1">1</span>
                    <span class="vc-counter-append">+</span>
                    <span class="vc-counter-text">Guesses Event(s)</span>

                    <p>We know, you are want more, but these events in the progress!</p>
                </div>
            </div>
        </div>

        <div class="vc_span3 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="vc-counter ">
                    <span class="vc-counter-prepend">$</span>
                    <span class="vc-counter-number" counter-number="3">3</span>
                    <span class="vc-counter-append"></span>
                    <span class="vc-counter-text">For months</span>

                    <p>Cheap right!</p>
                </div>
            </div>
        </div>

        <div class="vc_span3 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="vc-counter ">
                    <span class="vc-counter-prepend"></span>
                    <span class="vc-counter-number" counter-number="30">30</span>
                    <span class="vc-counter-append">$</span>
                    <span class="vc-counter-text">Whoo, You are rich guy for us ;)</span>

                    <p>So much Thanks...</p>
                </div>
            </div>
        </div>

        <div class="vc_span3 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="vc-counter ">
                    <span class="vc-counter-prepend"></span>
                    <span class="vc-counter-number" counter-number="99">40</span>
                    <span class="vc-counter-append">%</span>
                    <span class="vc-counter-text">Minimum Guess Rate</span>

                    <p>You love it!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main-row wpb_row vc_row-fluid  custom-padding       ">
        <div class="vc_span12 wpb_column column_container">
            <div class="wpb_wrapper">

                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <h2 style="text-align: center;">Meet Us  <p>    </p><a
                                href="/team" class="round-button ">Our Team</a></h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(http://static.squarespace.com/static/535fe25ae4b08c41d0c5ec62/t/53872855e4b0d9893f41f8c7/1401366615737/getting_started_hero.png?format=1500w); background-position: 50% -195px;"
         class="main-row wpb_row vc_row-fluid  full-width row-dark  margin-bottom-0  parallax-bg  row-large">
        <div class="vc_span12 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="empty-space"></div>
                <div class="wpb_row vc_row-fluid">
                    <div class="vc_span12 wpb_column column_container">
                        <div class="wpb_wrapper">

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">
                                        <iframe src="//player.vimeo.com/video/56534143?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"
                                                height="281" width="500" allowfullscreen="" frameborder="0"></iframe>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-space"></div>
            </div>
        </div>
    </div>

    <div class="main-row wpb_row vc_row-fluid     padding-bottom-0    row-large">
        <div class="vc_span6 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="vc-timeline  wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation">
                    <div class="vc-timeline-icon" style="background-color: #51bab6">
                        <i style="color: #ffffff" class="fa fa-comments-o"></i>
                    </div>
                    <div class="vc-timeline-line"></div>
                    <div class="vc-timeline-content">
                        <h3>If you have questions</h3>

                        <p>We are work on sci-fi project and we are students. But we will help you for anything about this platform.</p></div>
                </div>
                <div class="vc-timeline  wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation">
                    <div class="vc-timeline-icon" style="background-color: #ea83e3">
                        <i style="color: #ffffff" class="fa fa-heart-o"></i>
                    </div>
                    <div class="vc-timeline-line"></div>
                    <div class="vc-timeline-content">
                        <h3>Did you love us ?</h3>

                        <p>If you love this project or us, contact us. We makes guess for future, future for you!</p></div>
                </div>
                <div class="vc-timeline  wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation">
                    <div class="vc-timeline-icon" style="background-color: #29abe2">
                        <i style="color: #ffffff" class="fa fa-dashboard"></i>
                    </div>
                    <div class="vc-timeline-line"></div>
                    <div class="vc-timeline-content">
                        <h3>We Love Bitcoins</h3>

                        <p>If you want help us, buy a package and you can pay with bitcoin. </p></div>
                </div>
            </div>
        </div>

        <div class="vc_span6 wpb_column column_container">

            <div class="wpb_wrapper">
                <div class="empty-space"></div>
                <div class="empty-space"></div>
                <div class="empty-space"></div>
                <div class="wpb_single_image wpb_content_element margin-bottom-0 wpb_animate_when_almost_visible wpb_right-to-left vc_align_left wpb_start_animation">
                    <div class="wpb_wrapper">

                        <img width="477" height="389"
                             src="http://tctechcrunch2011.files.wordpress.com/2013/11/bitcoin-2.png"
                             class="attachment-full" alt="super_boy2_scaled">
                    </div>
                </div>
            </div>
        </div>

    <div class="main-row wpb_row vc_row-fluid     padding-bottom-0    row-large">
        <div class="vc_span12 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="wpb_row vc_row-fluid">
                    <div class="vc_span2 wpb_column column_container">
                        <div class="wpb_wrapper">

                        </div>
                    </div>

                    <div class="vc_span8 wpb_column column_container">
                        <div class="wpb_wrapper">

                            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_right-to-left wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2 style="text-align: center;"><i class="fa fa-quote-left "></i></h2>

                                    <p style="text-align: center;"><em>“Life can only be understood backwards; but it must be lived forwards.” – Søren Kierkegaard</em></p>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_span2 wpb_column column_container">
                        <div class="wpb_wrapper">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    </div>

    <!-- Right sidebar -->
{% endblock %}

{% block quote_section_block %}
    <!-- BEGIN FOOTER CALLOUT SECTION
================================================== -->
    <div class="quote-section">
        <div class="container">
            <div class="row-fluid">
                <div class="span8 offset2">
                    <span>Be a premium member to take advantage of the privilege. </span>
                    <a href="/member/new_member/" style="" class="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_footer_block %}
    <!-- BEGIN WIDGET FOOTER
================================================== -->
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="text-2" class="widget widget_text">
                                <h2 class="widgettitle">About Us</h2>

                                <div class="textwidget">
                                    <p><img src="../static/uploads/2014/01/white_icon2.png" alt=""/></p>

                                    <p>We are an award winning agency that specializes in developing super awesome
                                        things.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="recent-posts-3" class="widget widget_recent_entries">
                                <h2 class="widgettitle">Recent Posts</h2>
                                <ul>
                                    <li>
                                        <a href="../hello-world/index.html">We love to write things</a>
                                    </li>
                                    <li>
                                        <a href="../awesome-quote-2/index.html">This is a super awesome quote</a>
                                    </li>
                                    <li>
                                        <a href="../standard-post/index.html">This is yet another blog post</a>
                                    </li>
                                    <li>
                                        <a href="../awesome-link/index.html">Awesome Link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="twitter-widget-3" class="widget twitter">
                                <h2 class="widgettitle">Latest Tweets</h2>

                                <div class="tweet">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-widget">
                    <div class="span3">
                        <ul>
                            <li id="tag_cloud-3" class="widget widget_tag_cloud">
                                <h2 class="widgettitle">Tags</h2>

                                <div class="tagcloud">
                                    <a href='../tag/amazing/index.html' class='tag-link-13' title='1 topic'
                                       style='font-size: 8pt;'>Amazing</a>
                                    <a href='../tag/awesome/index.html' class='tag-link-20' title='1 topic'
                                       style='font-size: 8pt;'>Awesome</a>
                                    <a href='../tag/blog/index.html' class='tag-link-16' title='1 topic'
                                       style='font-size: 8pt;'>Blog</a>
                                    <a href='../tag/css/index.html' class='tag-link-12' title='1 topic'
                                       style='font-size: 8pt;'>CSS</a>
                                    <a href='../tag/envato/index.html' class='tag-link-19' title='1 topic'
                                       style='font-size: 8pt;'>Envato</a>
                                    <a href='../tag/html/index.html' class='tag-link-11' title='1 topic'
                                       style='font-size: 8pt;'>HTML</a>
                                    <a href='../tag/multipurpose/index.html' class='tag-link-14' title='1 topic'
                                       style='font-size: 8pt;'>MultiPurpose</a>
                                    <a href='../tag/news/index.html' class='tag-link-23' title='1 topic'
                                       style='font-size: 8pt;'>News</a>
                                    <a href='../tag/pagebuilder/index.html' class='tag-link-17' title='1 topic'
                                       style='font-size: 8pt;'>PageBuilder</a>
                                    <a href='../tag/portfolio/index.html' class='tag-link-15' title='1 topic'
                                       style='font-size: 8pt;'>Portfolio</a>
                                    <a href='../tag/press/index.html' class='tag-link-24' title='1 topic'
                                       style='font-size: 8pt;'>Press</a>
                                    <a href='../tag/themeforest/index.html' class='tag-link-18' title='1 topic'
                                       style='font-size: 8pt;'>ThemeForest</a>
                                    <a href='../tag/videos/index.html' class='tag-link-22' title='1 topic'
                                       style='font-size: 8pt;'>Videos</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_block %} {% endblock %}