{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
	<div class="container">
		<div class="row">
			<div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Pricing Table</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Pricing Table	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <div class="span12">
        <div class="isotope-preloader" style="display: none;"></div>
        <div class="isotope row" style="position: relative; overflow: hidden; opacity: 1;">
            <div class="main-row wpb_row vc_row-fluid padding-top-0">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">
                        <div class="empty-space"></div>
                        <div class="wpb_row vc_row-fluid">
                            <div style="width:40%;" class="vc_span6 wpb_column column_container">
                                <div class="wpb_wrapper">
                                    <div class="package">
                                        <div class="price">
                                            <span class="currency">$</span><span class="amount">3</span><p>/ month</p>
                                        </div>
                                        <div class="package-name">
                                            <h2>Standard</h2>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-check"></i>Bitcoin Guesses</li>
                                            <li><i class="fa fa-check"></i>Simply Usage</li>
                                            <li><i class="fa fa-check"></i>Limited New Feature Advantages</li>
                                            <li><i class="fa fa-check"></i>Unlimited Usage</li>
                                        </ul>
                                        <div class="buy-button">
                                            <a href="/member/payment_page/1">Pay with Bitcoin</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:40%;" class="vc_span6 wpb_column column_container">
                            <div class="wpb_wrapper">
                                <div class="package">
                                    <div class="price">
                                        <span class="currency">$</span><span class="amount">30</span><p>/ year</p>
                                    </div>
                                    <div class="package-name">
                                        <h2>Premium<span>Popular</span></h2>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-check"></i>Bitcoin Guesses</li>
                                        <li><i class="fa fa-check"></i>Simply Usage</li>
                                        <li><i class="fa fa-check"></i>Unlimited New Feature Advantages</li>
                                        <li><i class="fa fa-check"></i>Unlimited Usage</li>
                                    </ul>
                                    <div class="buy-button">
                                        <a href="/member/payment_page/2">Pay with Bitcoin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-row wpb_row vc_row-fluid">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div>
            <div class="main-row wpb_row vc_row-fluid">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}