{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block body_block %}
    <div class="span12">
        <div class="isotope-preloader" style="display: none;"></div>
        <div class="isotope row" style="position: relative; overflow: hidden; opacity: 1;">
            <div class="main-row wpb_row vc_row-fluid padding-top-0">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">
                        <div class="empty-space"></div>
                        <div class="wpb_row vc_row-fluid">
                            <div style="width:40%;" class="vc_span6 wpb_column column_container">
                                <div class="wpb_wrapper">
                                    <div class="package">
                                        <div class="price">
                                            <span class="currency">$</span><span class="amount">20</span><p>/ month</p>
                                        </div>
                                        <div class="package-name">
                                            <h2>Starter<span>Popular</span></h2>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-check"></i>10 Products</li>
                                            <li><i class="fa fa-check"></i>100TB Storage</li>
                                            <li><i class="fa fa-check"></i>Free Support</li>
                                            <li><i class="fa fa-check"></i>Unlimited Domains</li>
                                        </ul>
                                        <div class="buy-button">
                                            <a href="">Sign up now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:40%;" class="vc_span6 wpb_column column_container">
                                <div class="wpb_wrapper">
                                    <div class="package">
                                        <div class="price">
                                            <span class="currency">$</span><span class="amount">20</span><p>/ month</p>
                                        </div>
                                        <div class="package-name">
                                            <h2>Starter<span>Popular</span></h2>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-check"></i>10 Products</li>
                                            <li><i class="fa fa-check"></i>100TB Storage</li>
                                            <li><i class="fa fa-check"></i>Free Support</li>
                                            <li><i class="fa fa-check"></i>Unlimited Domains</li>
                                        </ul>
                                        <div class="buy-button">
                                            <a href="">Sign up now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-row wpb_row vc_row-fluid">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div>
            <div class="main-row wpb_row vc_row-fluid">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}