{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Terms</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Terms</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <!-- Left sidebar -->

    <!-- MAIN CONTENT -->
    <div class="span12">

    <div id="post-3805" class="post-3805 page type-page status-publish hentry instock">

    <div class="main-row wpb_row vc_row-fluid     padding-top-0    ">


    <div class="vc_span12 wpb_column column_container">
    <div class="wpb_wrapper">
        <div class="empty-space"></div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h2>Terms</h2>

            </div>
        </div>
        <div class="wpb_separator wpb_content_element"></div>

        <div class="wpb_tour wpb_content_element" data-interval="0">
            <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs clearfix ui-widget ui-widget-content ui-corner-all">
                <ul class="wpb_tabs_nav ui-tabs-nav clearfix ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">
                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active ui-state-hover"
                        role="tab" tabindex="0" aria-controls="tab-1389020888-1-38"
                        aria-labelledby="ui-id-1" aria-selected="true"><a id="but-1389020888-1-38"
                            href="#tab-1389020888-1-38" class="ui-tabs-anchor"
                            role="presentation" tabindex="-1" id="ui-id-1">1. Guesses</a>
                    </li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="tab-1389020888-2-36" aria-labelledby="ui-id-2"
                        aria-selected="false"><a id="but-1389020888-2-36" href="#tab-1389020888-2-36"
                                                 class="ui-tabs-anchor" role="presentation"
                                                 tabindex="-1" id="ui-id-2">2. Wrong Guess</a></li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="tab-1389020996370-2-7" aria-labelledby="ui-id-3"
                        aria-selected="false"><a id="but-1389020996370-2-7" href="#tab-1389020996370-2-7"
                                                 class="ui-tabs-anchor" role="presentation"
                                                 tabindex="-1" id="ui-id-3">3. Your Money</a>
                    </li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="tab-1389021062736-4-2" aria-labelledby="ui-id-4"
                        aria-selected="false"><a id="but-1389021062736-4-2" href="#tab-1389021062736-4-2"
                                                 class="ui-tabs-anchor" role="presentation"
                                                 tabindex="-1" id="ui-id-4">4. Not Offical</a></li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="tab-1389021029770-3-5" aria-labelledby="ui-id-5"
                        aria-selected="false"><a id="but-1389021029770-3-5" href="#tab-1389021029770-3-5"
                                                 class="ui-tabs-anchor" role="presentation"
                                                 tabindex="-1" id="ui-id-5">5. Your Payments</a></li>
                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="tab-1389020996370-44-8" aria-labelledby="ui-id-3"
                        aria-selected="false"><a id="but-1389021029770-44-8" href="#tab-1389020996370-2-7"
                                                 class="ui-tabs-anchor" role="presentation"
                                                 tabindex="-1" id="ui-id-3">6. Hiden Process</a>
                    </li>
                </ul>


                <div id="tab-1389020888-1-38"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true"
                     aria-hidden="false" style="display: block;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Guesses</h3>

                            <p>This platform is make guess for interest event. Please read carefully.</p>

                        </div>
                    </div>
                </div>
                <div id="tab-1389020888-2-36"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-2" role="tabpanel" aria-expanded="false"
                     aria-hidden="true" style="display: none;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Wrong Guess</h3>

                            <p>If guesses will be wrong, we are not accept any responsibilities.
                                This is a guess platform and results are not accurate.</p>

                        </div>
                    </div>
                </div>
                <div id="tab-1389020996370-2-7"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-3" role="tabpanel" aria-expanded="false"
                     aria-hidden="true" style="display: none;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Your Money</h3>

                            <p>We are not accept responsibilities about your losses or earnings.
                            Please be careful about that.</p>

                        </div>
                    </div>
                </div>
                <div id="tab-1389021062736-4-2"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-4" role="tabpanel" aria-expanded="false"
                     aria-hidden="true" style="display: none;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Not Offical</h3>

                            <p>This is only information platform, not offical.</p>

                        </div>
                    </div>
                </div>
                <div id="tab-1389021029770-3-5"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-5" role="tabpanel" aria-expanded="false"
                     aria-hidden="true" style="display: none;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Your Payments</h3>

                            <p>Your payments are irrecoverable. Therefore you should use your package to the last day.</p>

                        </div>
                    </div>
                </div>
                <div id="tab-1389021029770-44-8"
                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                     aria-labelledby="ui-id-5" role="tabpanel" aria-expanded="false"
                     aria-hidden="true" style="display: none;">

                    <div class="wpb_single_image wpb_content_element vc_align_left">

                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Hidden Process</h3>

                            <p>Our some processes are hidden. Please don't question how it works about that platform.</p>

                        </div>
                    </div>
                </div>
                <div class="wpb_tour_next_prev_nav clearfix"><span class="wpb_prev_slide"><a
                        href="#prev" title="Previous slide">Previous slide</a></span> <span
                        class="wpb_next_slide"><a href="#next" title="Next slide">Next slide</a></span>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>

    </div>

    <!-- Right sidebar -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $("#but-1389020888-1-38").click(function () {
                if ($("#tab-1389020888-1-38").css("display") == "none") {
                    $("#tab-1389020888-1-38").css("display", "block");
                    $("#tab-1389020888-2-36").css("display", "none");
                    $("#tab-1389020996370-2-7").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389021029770-3-5").css("display", "none");
                    $("#tab-1389021029770-44-8").css("display", "none");
                }
            });

            $("#but-1389020888-2-36").click(function () {
                if ($("#tab-1389020888-2-36").css("display") == "none"){
                    $("#tab-1389020888-2-36").css("display","block");
                    $("#tab-1389020888-1-38").css("display", "none");
                    $("#tab-1389020996370-2-7").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389021029770-3-5").css("display", "none");
                    $("#tab-1389021029770-44-8").css("display", "none");


                    }
            });

            $("#but-1389020996370-2-7").click(function () {
                if ($("#tab-1389020996370-2-7").css("display") == "none"){
                    $("#tab-1389020996370-2-7").css("display", "block");
                    $("#tab-1389020888-2-36").css("display","none");
                    $("#tab-1389020888-1-38").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389021029770-3-5").css("display", "none");
                    $("#tab-1389021029770-44-8").css("display", "none");
            }
            });

            $("#but-1389021062736-4-2").click(function () {
                if ($("#tab-1389021062736-4-2").css("display") == "none"){
                    $("#tab-1389021062736-4-2").css("display", "block");
                    $("#tab-1389020888-2-36").css("display","none");
                    $("#tab-1389020996370-2-7").css("display", "none");
                    $("#tab-1389020888-1-38").css("display", "none");
                    $("#tab-1389021029770-3-5").css("display", "none");
                    $("#tab-1389021029770-44-8").css("display", "none");
            }
            });

            $("#but-1389021029770-3-5").click(function () {
                if ($("#tab-1389021029770-3-5").css("display") == "none"){
                    $("#tab-1389021029770-3-5").css("display", "block");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389020888-2-36").css("display","none");
                    $("#tab-1389020996370-2-7").css("display", "none");
                    $("#tab-1389020888-1-38").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389021029770-44-8").css("display", "none");
            }
            });
            $("#but-1389021029770-44-8").click(function () {
                if ($("#tab-1389021029770-44-8").css("display") == "none"){
                    $("#tab-1389021029770-44-8").css("display", "block");
                    $("#tab-1389021029770-3-5").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
                    $("#tab-1389020888-2-36").css("display","none");
                    $("#tab-1389020996370-2-7").css("display", "none");
                    $("#tab-1389020888-1-38").css("display", "none");
                    $("#tab-1389021062736-4-2").css("display", "none");
            }
            });
        });
    </script>

{% endblock %}


{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}