{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
	<div class="container">
		<div class="row">
			<div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Pricing Table</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Pricing Table	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
   <ul>
    {% if form.errors %}
        <p>Error</p>
    {% endif %}
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <table border=1>
        {{ form_profile_photo }}
    </table>
    <input type='submit' name="profile_photo" value='Submit'/>
</form>

<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <table border=1>
        {{ form_first_and_last_name }}
    </table>
    <input type='submit' name="name_form" value='Submit'/>
</form>
</ul>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}