{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block body_block %} 
<div class="span12">
    <div id="post-2552" class="post-2552 page type-page status-publish hentry instock">
        <div class="main-row wpb_row vc_row-fluid">
            <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="empty-space"></div>
                </div>
            </div>
        </div>
        <div class="main-row wpb_row vc_row-fluid">
            <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <h1 style="text-align: center;">Frequently asked questions</h1>
                            <p style="text-align: center;">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row wpb_row vc_row-fluid">
            <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="wpb_separator wpb_content_element"></div>
                    <div class="empty-space"></div>
                </div>
            </div>
        </div>
        <div class="main-row wpb_row vc_row-fluid">
            <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="wpb_accordion wpb_content_element  not-column-inherit" data-collapsible="no" data-active-tab="1">
                        <div class="wpb_wrapper wpb_accordion_wrapper ui-accordion ui-widget ui-helper-reset" role="tablist">
                            <div class="wpb_accordion_section group">
                                <h3 class="wpb_accordion_header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-1-header-0" aria-controls="ui-accordion-1-panel-0" aria-selected="false" aria-expanded="false" tabindex="-1">
                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                    <a href="#how-much-does-it-cost">How much does it cost?</a>
                                </h3>
                                <div class="wpb_accordion_content ui-accordion-content clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-0" aria-labelledby="ui-accordion-1-header-0" role="tabpanel" aria-hidden="true" style="display: none;">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_accordion_section group">
                                <h3 class="wpb_accordion_header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" aria-expanded="false" tabindex="-1">
                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                    <a href="#is-support-included">Is support included?</a>
                                </h3>
                                <div class="wpb_accordion_content ui-accordion-content clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-hidden="true" style="display: none;">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_accordion_section group">
                                <h3 class="wpb_accordion_header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" role="tab" id="ui-accordion-1-header-2" aria-controls="ui-accordion-1-panel-2" aria-selected="true" aria-expanded="true" tabindex="0">
                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                    <a href="#how-do-i-set-it-up">How do I set it up?</a>
                                </h3>
                                <div class="wpb_accordion_content ui-accordion-content clearfix ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-accordion-1-panel-2" aria-labelledby="ui-accordion-1-header-2" role="tabpanel" aria-hidden="false" style="display: block;">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Some Info</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p><a href="" class="button ">Create Ticket</a>&nbsp;&nbsp; <a href="" style="background: #50575E !important;" class="button ">Help Center</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row wpb_row vc_row-fluid">
            <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                    <div class="empty-space"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}