{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
	<div class="container">
		<div class="row">
			<div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Pricing Table</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Pricing Table	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <ul>
    {% if member.photo %}
        <img data-retina="" src="/media/{{ member.photo }}" width="370">
    {% else %}
        <img data-retina="" src="/media/profile_photos/default.png" width="370">
    {% endif %}
    <li>{{ request.user.username }}</li>
    <li>{{ request.user.first_name }}</li>
    <li>{{ request.user.last_name }}</li>
    <li>{{ request.user.email }}</li>
<a href="/member/edit_member_profile">edit profile</a>
    <a href="/accounts/password/">change password</a>
</ul>
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}