{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Sign Up</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <!-- Left sidebar -->

    <!-- MAIN CONTENT -->
    <div class="span12">

        <div id="post-3071" class="post-3071 page type-page status-publish hentry instock">

            <div style="background-color: ; background-image: url();" class="main-row wpb_row vc_row-fluid        ">
                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">

                        <div class="wpb_tour wpb_content_element" data-interval="0">
                            <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs clearfix ui-widget ui-widget-content ui-corner-all">
                                <div id="tab-1380624103-1-99"
                                     class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix ui-widget-content ui-corner-bottom"
                                     aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false"
                                     style="display: block; width: 100%;">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h2>Login</h2>

                                            <div id="tab-1380623590-1-59" role="tabpanel">
                                                <div>
                                                    <div>
                                                        <p>We work with clients big and small across a range of sectors
                                                            and we utilise all forms of media to get your name out there
                                                            in a way that’s right for you big and small across a range
                                                            of sectors and we utilise all forms of media to get your
                                                            name out there in a way that’s right for you. We believe
                                                            that analysis of your company and your customers is key in
                                                            responding effectively to your promotional needs.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-1380623590-1-60" role="tabpanel">
                                                <div>
                                                    <div>
                                                        {% if form.errors %}
                                                            <p>{{ form.errors }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wpcf7" id="wpcf7-f2638-p3071-o1">
                                        <form method="post"
                                              class="wpcf7-form" novalidate="novalidate">
                                            {% csrf_token %}
                                            <p>Username (required - 30 characters or fewer. Letters, numbers and
                                                @/./+/-/_ characters)<br>
                                                <span class="wpcf7-form-control-wrap">{{ form.username }}</span>
                                            </p>

                                            <p>First Name (required)<br>
                                                <span class="wpcf7-form-control-wrap">{{ form.first_name }}</span>
                                            </p>

                                            <p>Last Name (required)<br>
                                                <span class="wpcf7-form-control-wrap">{{ form.last_name }}</span>
                                            </p>

                                            <p>E-mail (required)<br>
                                                <span class="wpcf7-form-control-wrap">{{ form.email }}</span>
                                            </p>

                                            <p>Password (required)<br>
                                                <span class="wpcf7-form-control-wrap">{{ form.password }}</span>
                                            </p>

                                        {{ form.last_login }}
                                        {{ form.is_superuser }}
                                        {{ form.last_login }}
                                        {{ form.groups }}
                                        {{ form.user_permissions }}
                                        {{ form.is_staff }}
                                        {{ form.is_active }}
                                        {{ form.date_joined }}
                                            <p><input type="submit" value="Login"
                                                      class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader"
                                                                                                   style="visibility: hidden;">
                                            </p>

                                            <div class="wpcf7-response-output wpcf7-display-none"></div>

                                            {% if next %}
                                                <input type="hidden" name="next" value="{{ next }}">
                                            {% else %}
                                                <input type="hidden" name="next" value="/bitcoin_analyze/guess_bitcoin">
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                                <div class="wpb_tour_next_prev_nav clearfix"><span class="wpb_prev_slide"><a
                                        href="#prev" title="Previous slide">Previous slide</a></span> <span
                                        class="wpb_next_slide"><a href="#next" title="Next slide">Next slide</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}