{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block page_callout %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="breadcrumbs">You are here:
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li>Payment Page</li>
                    </ul>
                </div>
            </div>

            <div class="span6">
                <div class="page-name">Payment Page</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <!-- Left sidebar -->

    <!-- MAIN CONTENT -->
    <div class="span12">

        <div id="post-3761" class="post-3761 page type-page status-publish hentry instock">

            <div class="main-row wpb_row vc_row-fluid     padding-top-0    ">


                <div class="vc_span12 wpb_column column_container">
                    <div class="wpb_wrapper">
                        <div class="empty-space"></div>
                        <div class="wpb_row vc_row-fluid">
                            <div class="vc_span12 wpb_column column_container">
                                <div class="wpb_wrapper">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <div class="testimonial">
                                                <h3><i class="fa fa-quote-left "></i>&nbsp;
                                                    Congratulations</h3>

                                                <p>We accepted only Bitcoins. You can send your bitcoins our bitcoin
                                                    adress. When your bitcoins received us, we will activate your
                                                    account.<br/>
                                                    If you are live a problem or want ask a question,
                                                    <a href="/contact_us">contact us</a></p>

                                                <div class="testimonial-arrow"></div>
                                            </div>
                                            <a class="coinbase-button" data-code="{{ button_data }}"
                                               data-button-style="custom_large"></a>
                                            <script src="https://www.coinbase.com/assets/button.js"
                                                    type="text/javascript"></script>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="empty-space"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Right sidebar -->
{% endblock %}

{% block quote_section_block %} {% endblock %}

{% block sub_footer_block %} {% endblock %}

{% block script_block %} {% endblock %}